#container {
  height: 600px;
  width: 1000px;
  background-color: azure;
  border: 2px solid black;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  align-items: flex-end;
  align-items: center;
  align-items: baseline;
}

h1 {
  text-align: center;
}

#container div {
  height: 100px;
  width: 300px;
  color: white;
  text-align: center;
  font-size: 1.5em;
}
