div {
  height: 200px;
  width: 200px;
  border-radius: 15px;
  background-color: rgba(0, 255, 0, 0.3);
  border: 2px solid rgba(0, 255, 0, 0.3);
}

div > div {
  height: 100px;
  width: 100px;
  border: 2px solid blue;
  border-radius: 10px;
  margin: 10%;
  background-color: #0000ffa1;
}
