div {
  height: 200px;
  width: 400px;
  background-color: black;
  margin: 0 auto;
  margin-top: 10px;
  /* background image */
  background-image: url(background2.png);
  background-size: cover;
  color: white;
  font-size: 50px;
  text-align: center;
}
