span#togelOn {
  font-size: 100px;
  color: green;
  position: absolute;
  top: 10px;
  left: 100px;
}

#facebook {
  font-size: 100px;
  color: blue;
  position: absolute;
  top: 100px;
  left: 95px;
}

#instagram {
  font-size: 100px;
  position: absolute;
  top: 215px;
  left: 95px;
}
