.card {
  height: 230px;
  width: 200px;
  /* border: 2px solid black; */
  margin: 20px;
  display: inline-block;
  border-radius: 7.8px;
  box-shadow: 0px 4px 8px black;
  transition: 1s;
}

img {
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#woman {
  height: 133.3px;
}

.desc {
  padding-left: 2px;
}

.card:hover {
  box-shadow: 0px 8px 16px black;
}
