#container {
  height: 300px;
  width: 80%;
  background-color: azure;
  border: 2px solid black;
  margin: 10px auto;
  /* by default it is */
  display: flex;
  /* flex-direction: row-reverse; */
  /* flex-direction: column-reverse; */
  flex-direction: column;
}

h1 {
  text-align: center;
}

#container div {
  height: 100px;
  width: 300px;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}
