#container {
  height: 600px;
  width: 80%;
  background-color: azure;
  border: 2px solid black;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}

h1 {
  text-align: center;
}

#container div {
  height: 100px;
  width: 50px;
  color: white;
  text-align: center;
  font-size: 1.5em;
}

#orange {
  flex-grow: 1;
}

#blue {
  flex-grow: 1;
  flex-grow: 2;
  min-width: 400px;
}
