#container {
  height: 300px;
  width: 500px;
  border: 2px solid black;
  margin: 10px auto;
  display: flex;
  /* flex-wrap: wrap; */
}

.box {
  width: 110px;
  height: 100px;
  /* border: 2px solid black; */
}

#box1 {
  background-color: green;
}

#box2 {
  background-color: red;
}

#box3 {
  background-color: blue;
  flex-shrink: 10;
}

#box4 {
  background-color: #ffff00;
  flex-shrink: 2;
}

#box5 {
  background-color: pink;
}
