#container {
  height: 600px;
  width: 80%;
  background-color: azure;
  border: 2px solid black;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

h1 {
  text-align: center;
}

#container div {
  height: 100px;
  width: 100px;
  color: white;
  text-align: center;
  font-size: 1.5em;
}

#container div#orange {
  height: 200px;
  width: 300px;
  font-size: 40px;
}
