#container {
  height: 300px;
  width: 600px;
  background-color: yellow;
  margin: 10px auto;
  display: grid;
  /* grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(3, 1fr); */
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  /* justify-items: start; */
  /* justify-items: end; */
  justify-items: center;
  align-items: center;
}

.item {
  width: 100px;
  height: 25px;
  background-color: greenyellow;
  border: 2px solid black;
  text-align: center;
}

.one {
  align-self: start;
}

h1 {
  text-align: center;
}
