#container {
  height: 300px;
  width: 600px;
  background-color: yellow;
  margin: 10px auto;
  display: grid;
  /* grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(3, 1fr); */
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  /* row-gap: 10px;
  column-gap: 10px; */
  /* grid-gap: 10px 10px; */
  grid-gap: 10px;
}

.item {
  width: 100px;
  height: 50px;
  background-color: greenyellow;
  border: 2px solid black;
  text-align: center;
}

h1 {
  text-align: center;
}
