#container {
  height: 300px;
  width: 600px;
  background-color: yellow;
  margin: 10px auto;
  display: grid;
  /* grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(3, 1fr); */
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.item {
  /* width: 100px;
  height: 50px; */
  background-color: greenyellow;
  border: 2px solid black;
  text-align: center;
  /* If I give height and width */
  width: 100px;
  height: 50px;
}

.one {
  grid-column-start: 1;
  grid-column-end: 3;
  /* we can use this also */
  grid-column: 1/3;
  /* we can use this also */
  grid-column: 1 / span 2;
}

h1 {
  text-align: center;
}
