/* universal selector */
* {
  font-family: "Courier New";
}
/*element selector*/
h1,
h3 {
  color: #b92b27;
}
/* ID selector */
#login {
  background-color: aqua;
  color: #000;
}

#signup {
  background-color: black;
  color: #fff;
}

#q1 {
  color: black;
}
/* class selector */
.upvote {
  background-color: blue;
  color: wheat;
}
/* descendant selector */
.post a {
  color: purple;
  background-color: yellow;
}

nav ul li {
  color: red;
}
/* adjacent sibling combinator */
p + h3 {
  text-decoration: underline;
}

.upvote + button {
  background-color: green;
  color: white;
}
/* child combinator */
div > input {
  background-color: darkslateblue;
}
/* attribute selector */
input[type] {
  color: red;
}

input[type="password"] {
  color: green;
}
/* pseudo class */
button:hover {
  background-color: deepskyblue;
  color: white;
}

h3:hover {
  text-decoration: overline;
}

button:active {
  background-color: deeppink;
}

p:active {
  font-weight: bold;
  color: green;
}

input[type="radio"]:checked + label {
  color: red;
  font-weight: bold;
}
