/* universal selector */
* {
  font-family: "Courier New";
}
/*element selector*/
h1,
h3 {
  color: #b92b27;
}
/* ID selector */
#login {
  background-color: aqua;
  color: #000;
}

#signup {
  background-color: black;
  color: #fff;
}

#q1 {
  color: black;
}
/* class selector */
.upvote {
  background-color: blue;
  color: wheat;
}
