div {
  background-color: yellow;
}
input {
  background-color: inherit;
}

button {
  background-color: inherit;
}

button:hover {
  background-color: blue;
  font-weight: 700;
}
button:active {
  background-color: pink;
}
