#container {
  height: 300px;
  width: 80%;
  background-color: azure;
  border: 2px solid black;
  margin: 10px auto;
  display: flex;
  /* flex-direction: column-reverse; */
  flex-direction: row;
  /* justify content flex-start */
  /* justify-content: center; */
  /* justify content flex-end*/
  /* justify-content: flex-end; */
  justify-content: space-between;
  justify-content: space-around;
  justify-content: space-evenly;
}

h1 {
  text-align: center;
}

#container div {
  height: 100px;
  width: 100px;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}
