#box1 {
  height: 100px;
  width: 300px;
  background-color: pink;
  text-align: center;

  animation: colorAnimation 2s linear 0s infinite normal;
}

@keyframes colorAnimation {
  0% {
    background-color: green;
  }
  50% {
    background-color: yellow;
  }
  80% {
    background-color: blue;
  }
  100% {
    background-color: red;
  }
}
