/* this is for all div */
div {
  height: 100px;
  width: 100px;
  background-color: green;
  text-align: center;
  border: 3px solid black;
  margin: 20px;
  display: inline-block;
}
/* this is for static */
#static {
  background-color: yellow;
  position: static;
  top: 100px;
  left: 100px;
}
/* this is for relative */
#relative {
  background-color: yellow;
  position: relative;
  top: 100px;
  left: 100px;
}
/* this is for absolute */
#absolute {
  background-color: yellow;
  position: absolute;
  top: 100px;
  left: 100px;
}
/* this is for fixed  */
#fixed {
  background-color: yellow;
  position: fixed;
  top: 200px;
  left: 200px;
}
/* this is for sticky  */
#sticky {
  background-color: yellow;
  position: sticky;
  top: 10px;
}
