#outerDiv {
  height: 200px;
  width: 70px;
  border: 2px solid black;
}

.signal {
  height: 50px;
  width: 50px;
  border: 2px solid black;
  border-radius: 50%;
  margin: 10px;
}

#inerDiv1 {
  background-color: red;
}

#inerDiv2 {
  background-color: yellow;
}

#inerDiv3 {
  background-color: green;
}
