* {
  background-color: black;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="range"] {
  width: 70%;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #ddd;
  border-radius: 100px;
  height: 0.2rem;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #1bd760;
  margin-top: -6px;
}
