#outerDiv {
  height: 400px;
  width: 400px;
  border: 2px solid black;
  background-color: cornflowerblue;
  font-size: 20px;
}

#inerDiv {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  background-color: palevioletred;
  font-size: 1.5em;
  padding: 1em;
  margin: 1em;
}

button {
  font-size: 50px;
  border-radius: 15px;
  border: 5px solid green;
  padding-left: 1em;
  padding-right: 1em;
}
