div {
  height: 100px;
  width: 250px;
  background-color: white;
  border: 2px solid white;
  box-shadow: 2px 2px 10px black;
  margin: 0 auto;
  margin-top: 150px;
  text-align: center;
  font-size: 20px;
  transition: margin-top 2s ease-in-out 0.2s;
}

div:hover {
  margin-top: 120px;
}
