#outerDiv {
  height: 200px;
  width: 200px;
  background-color: orange;
  border: 2px solid orange;
  border-radius: 50%;
}

.eye {
  height: 20px;
  width: 20px;
  background-color: black;
  border: 1px solid black;
  margin: 20px;
  margin-top: 10px;
  border-radius: 50%;
  display: inline-block;
}

#smile {
  height: 40px;
  width: 100px;
  background-color: brown;
  position: absolute;
  top: 130px;
  left: 62px;
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;
}

#eye1 {
  position: absolute;
  top: 55px;
  left: 35px;
}

#eye2 {
  position: absolute;
  left: 119px;
  top: 55px;
}
