div {
  height: 200px;
  width: 500px;
  background-color: pink;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  /* border-radius */
  border-radius: 15px;
  /* padding */
  padding-top: 60px;
  padding-bottom: 60px;
  /* margin */
  margin-bottom: 20px;
  margin-left: 20px;
  margin: 10px 20px 30px 40px;
}

h1 {
  /* border shorthand */
  border: 4px dashed red;
  background-color: blue;
}
/* border sides */
h1 {
  border-top-style: solid;
  border-top-color: black;
}
button {
  background-color: yellow;
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  /* padding: 0px 30px 0px 30px; */
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
button:hover {
  background-color: blue;
  font-weight: bold;
}

button:active {
  background-color: green;
  font-weight: bold;
}
