h1 {
  text-align: center;
  text-decoration: underline;
}
h3 {
  text-align: left;
  font-weight: normal;
  text-decoration: double blue underline;
}
p {
  text-align: justify;
  font-weight: 600;
}

a {
  text-decoration: none;
}
