section {
  margin-top: 100px;
}

div {
  height: 50px;
  width: 200px;
  text-align: center;
  background-color: #7aa874;
  border: 2px solid black;
  margin: 0 auto;
  margin-bottom: 10px;
}

div:nth-of-type(2n) {
  background-color: #f7db6a;
}

div:nth-of-type(3n) {
  background-color: #ebb02d;
}
/* transform rotate */
#one {
  transform: rotate(45deg);
}
/* transform scale */
#two {
  transform: scale(2);
  /* transform: scaleY(3); */
}
/* transform translate */
#five {
  transform: translate(100px, 100px);
}
/* transform skew */
#foure {
  transform: skew(30deg);
}

#five {
  transform: rotate(30deg) translateX(150px);
}
