#div1 {
  height: 200px;
  width: 200px;
  background-color: rgb(0, 255, 0);
  border: 2px solid rgb(0, 255, 0);
  transition-duration: 2s;
}
#div1:hover {
  background-color: black;
  border-radius: 50%;
  border: 2px solid black;
}
#div2 {
  height: 100px;
  width: 100px;
  background-color: pink;
  margin: 50px;
  border: 2px solid pink;
  transition-duration: 2s;
}
#div2:hover {
  background-color: red;
  border-radius: 50%;
  border: 2px solid red;
}
#div3 {
  height: 50px;
  width: 50px;
  background-color: blue;
  margin: 25px;
  border: 2px solid blue;
  transition-duration: 2s;
}
#div3:hover {
  background-color: yellow;
  border-radius: 50%;
  border: 2px solid yellow;
}
