#container {
  height: 450px;
  width: 800px;
  /* border: 2px solid black; */
  margin: 10px auto;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
}

.box {
  /* height: 100px;
  width: 100px; */
  /* border: 2px solid black; */
  background-color: pink;
  font-size: 20px;
}

#header {
  grid-row-start: 1;
  grid-column: 1 / span 12;
}

#sidebar {
  grid-row: 2 / span 10;
  grid-column: 1 / span 3;
}

#navigation {
  grid-column: 4 / span 6;
  grid-row-start: 2;
}

#ads {
  grid-row: 2 / span 10;
  grid-column: 10 / span 3;
}

#main {
  grid-row: 3 / span 9;
  grid-column: 4 / span 6;
}

#footer {
  grid-row-start: 12;
  grid-column: 1 / span 12;
}
