#container {
  height: 50px;
  width: 900px;
  border: 2px solid rgb(0, 128, 117);
  border-radius: 10px;
  background-color: palevioletred;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#container div {
  height: 30px;
  width: 80px;
  /* border: 2px solid black; */
  border-radius: 10px;
  color: black;
  font-size: 24px;
  margin-left: 10px;
}
