body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: white;
  overflow: hidden;
}

.main {
  display: flex;
  height: 100vh;
  padding: 0.5rem;
}

.sidebar {
  /* background-color: red; */
  background-color: black;
  width: 340px;
  border-radius: 1rem; /*16 px*/
}

.main-content {
  /* background-color: blue; */
  background-color: #121212;
  /* flex grow */
  flex-grow: 1;
  border-radius: 1rem;
  overflow: auto;
}

.music-player {
  /* background-color: yellow; */
  background-color: black;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 72px;
}

.nav-option a {
  text-decoration: none;
  color: #fff;
}

.nav {
  background-color: #121212;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 0.5rem 0.75rem;
}

.nav-option {
  line-height: 2.5rem;
  opacity: 0.7;
  transition: color 0.2s ease-in-out 0s;
  padding: 0.5rem 0.75rem;
}

.nav-option:hover {
  opacity: 1;
}

.nav-option i {
  font-size: 1.25rem;
}

.nav-option a {
  font-size: 1rem;
  margin-left: 1rem;
}

.library {
  background-color: #121212;
  border-radius: 1rem;
  height: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
}

.library a {
  text-decoration: none;
  color: #fff;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  font-size: 1.25rem;
  opacity: 0.7;
  margin-right: 1rem;
  transition: color 0.2s ease-in-out 0s;
}

.lib-option img {
  height: 1.25rem;
  width: 1.25rem;
}

.icons i {
  opacity: 0.7;
  margin-right: 1rem;
  color: #fff;
}

.icons i:hover {
  opacity: 1;
}
