* {
  margin: 0px;
  padding: 0px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.hero {
  width: 100%;
  height: 100vh;
}

.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 5rem;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(30px);
  overflow: hidden;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
}

.brand > img {
  height: 50px;
  width: 50px;
}

.brand > p {
  font-size: 20px;
  font-weight: 500;
  color: #111827;
}

.search {
  height: 50px;
  width: 424.39px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 0px 2px #9ca3af;
  border-radius: 50px;
  margin-left: -80px;
}

.any-where {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  height: 32px;
  width: 121px;
  border-right: 2px solid #e5e7eb;
}

.any-where > i {
  color: #6366f1;
  font-size: 14px;
}

.any-where > a {
  text-decoration: none;
  font-size: 15.5px;
  color: #374151;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-left: 5px;
}

.any-week {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -55px;
  height: 32px;
  width: 110px;
  border-right: 2px solid #e5e7eb;
}

.any-week > i {
  color: #6366f1;
  font-size: 14px;
  margin-left: -30px;
}

.any-week > a {
  text-decoration: none;
  font-size: 15.5px;
  color: #374151;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-left: 5px;
}

.add-guests {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -50px;
  height: 32px;
  width: 121px;
  justify-content: space-between;
}

.add-guests > a {
  text-decoration: none;
  font-size: 15.5px;
  color: #9ca3af;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-left: -20px;
}

.searchLogo {
  height: 36px;
  width: 36px;
  background: linear-gradient(to bottom right, #6365f1e1, #a955f7e1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  transition: all 0.2s linear;
}

.searchLogo:hover {
  transform: translateY(-2.5px);
  background: linear-gradient(to bottom right, #6365f1, #a955f7);
  box-shadow: 2px 2px 5px #9ca3af;
}

.searchLogo > i {
  font-size: 14px;
  color: #ffffff;
  margin-top: 3px;
}

.login-box {
  display: flex;
  height: 36px;
  width: 385px;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-right: 120px;
}

.host {
  height: 36px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
}

.host:hover {
  background-color: #9ca3af28;
  border-radius: 50px;
  color: #6366f1;
  cursor: pointer;
}

.host a {
  text-decoration: none;
  color: #374151;
  font-size: 14px;
  font-weight: 600;
  margin-left: 7px;
  transition: all 0.2s linear;
}

.host a:hover {
  color: #6366f1;
  cursor: pointer;
}

.login {
  height: 36px;
  width: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
}

.login:hover {
  background-color: #9ca3af28;
  border-radius: 50px;
  cursor: pointer;
}

.login a {
  text-decoration: none;
  color: #374151;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.2s linear;
}

.login > a:hover {
  color: #6366f1;
  cursor: pointer;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 84px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(to bottom right, #6365f1e1, #a955f7e1);
  transition: all 0.2s linear;
}

.sign-up:hover {
  transform: translateY(-2.5px);
  background: linear-gradient(to bottom right, #6365f1, #a955f7);
  box-shadow: 2px 2px 5px #9ca3af;
}

.sign-up > a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.user-icon {
  height: 36px;
  width: 36px;
  color: #374151;
  background-color: #9ca3af4a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
}

.verified {
  position: absolute;
  top: 102px;
  left: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 294px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.15);
  z-index: 1;
  /* create blur background */
  backdrop-filter: blur(10px);
}

.green {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #4ade80;
}

.verified p {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.heading1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  left: 20px;
  top: 163px;
  height: 144px;
  width: 768px;
}

.para1 {
  font-size: 72px;
  font-weight: 500;
  color: #fff;
}

.para2 {
  font-size: 72px;
  font-weight: 500;
  /* creat mix color for text */
  background: linear-gradient(to bottom right, #fb923c, #f472b6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -18.5px;
  margin-left: -62px;
}

.heading2 {
  height: 56px;
  width: 576px;
  color: #d1d5db;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  position: absolute;
  left: 130px;
  top: 335px;
}

.gradient1 {
  /* using radial-gradient */
  height: 128px;
  width: 128px;
  border-radius: 50%;
  background: radial-gradient(circle closest-side, #a855f7, #a955f700);
  position: absolute;
  top: 75px;
  left: 1350px;
  opacity: 0.35;
}

.gradient2 {
  /* using radial-gradient */
  height: 96px;
  width: 96px;
  border-radius: 50%;
  background: radial-gradient(circle closest-side, #6366f1, #6365f100);
  position: absolute;
  top: 500px;
  left: 48px;
  opacity: 0.25;
}

.hero-search-bar {
  height: 90px;
  width: 910px;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(20px);
  position: absolute;
  top: 420px;
  left: 135px;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.outer-where {
  height: 60px;
  width: 205px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  border-right: 2px solid rgba(0, 0, 0, 0.078);
}

.inner-where {
  margin-left: 5px;
  width: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.icon-where {
  height: 36px;
  width: 36px;
  border-radius: 10px;
  color: #6366f1;
  background-color: #6365f152;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-left: 20px;
}

.allpara-where > p > a {
  text-decoration: none;
  color: #6b7280;
  font-size: 12.5px;
  font-weight: 700;
}

.allpara-where {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 144px;
  line-height: 20px;
  margin-left: 10px;
}

.where-para2 {
  font-size: 14px;
  font-weight: 500;
  color: #9ca3af;
}

.outer-check-in {
  height: 60px;
  width: 205px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  border-right: 2px solid rgba(0, 0, 0, 0.078);
  margin-left: -60px;
}

.inner-check-in {
  margin-left: 5px;
  width: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.icon-check-in {
  height: 36px;
  width: 36px;
  border-radius: 10px;
  color: #6366f1;
  background-color: #6365f152;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-left: 20px;
}

.allpara-check-in > p > a {
  text-decoration: none;
  color: #6b7280;
  font-size: 12.5px;
  font-weight: 700;
}

.allpara-check-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 144px;
  line-height: 20px;
  margin-left: 10px;
}

.check-in-para2 {
  font-size: 14px;
  font-weight: 500;
  color: #9ca3af;
}

.outer-check-out {
  height: 60px;
  width: 205px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  border-right: 2px solid rgba(0, 0, 0, 0.078);
  margin-left: -60px;
}

.inner-check-out {
  margin-left: 5px;
  width: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.icon-check-out {
  height: 36px;
  width: 36px;
  border-radius: 10px;
  color: #6366f1;
  background-color: #6365f152;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-left: 20px;
}

.allpara-check-out > p > a {
  text-decoration: none;
  color: #6b7280;
  font-size: 12.5px;
  font-weight: 700;
}

.allpara-check-out {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 144px;
  line-height: 20px;
  margin-left: 10px;
}

.check-out-para2 {
  font-size: 14px;
  font-weight: 500;
  color: #9ca3af;
}

.outer-guest {
  height: 60px;
  width: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-left: -60px;
}

.inner-guest {
  margin-left: 5px;
  width: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.icon-guest {
  height: 36px;
  width: 36px;
  border-radius: 10px;
  color: #6366f1;
  background-color: #6365f152;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-left: 20px;
}

.allpara-guest > p > a {
  text-decoration: none;
  color: #6b7280;
  font-size: 12.5px;
  font-weight: 700;
}

.allpara-guest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 144px;
  line-height: 20px;
  margin-left: 10px;
}

.guest-para2 {
  font-size: 14px;
  font-weight: 500;
  color: #9ca3af;
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 56px;
  margin-right: 10px;
  border: none;
  background: linear-gradient(to bottom right, #f97316, #fb923c);
  border-radius: 18px;
}

.search-btn > i {
  font-size: 16px;
  color: #fff;
}

.search-btn p > a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-left: 7px;
}

.hero-main {
  position: absolute;
  top: 5rem;
  width: 100%;
  height: 100vh;
  background-image: url("asset/hero.png");
  background-size: cover;
  z-index: -10;
}

.hero-color {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom right, #0f0c29bf, #302b63a6, #24243e8c);
  z-index: -5;
}
