* {
  margin: 0px;
  font-family: Arial;
}

#hero {
  width: 100%;
  height: 770px;
  background-image: url(heroImage.png);
  background-size: cover;
}

#top {
  width: 1170px;
  height: 55px;
  /* border: 2px solid black; */
  position: absolute;
  top: 15px;
  left: 180px;
}
#carLogo {
  height: 31px;
  width: 55px;
  /* border: 2px solid black; */
  margin: 5px;
  margin-top: 10px;
}

#brandName {
  height: 38px;
  width: 118px;
  /* border: 2px solid black; */
  position: absolute;
  top: 4px;
  font-size: 30px;
  color: #192459;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  margin-top: 6px;
}

div.MyBrandName {
  display: inline-block;
}

#locationLogo {
  height: 25px;
  width: 25px;
  /* border: 2px solid black; */
  font-size: 24px;
  position: absolute;
  top: 8px;
  left: 27%;
  padding-right: 5px;
  margin-top: 5px;
}

#address {
  height: 36px;
  width: 305px;
  /* border: 2px solid black; */
  position: absolute;
  top: 5px;
  left: 360px;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #1a1a1a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 16px;
  padding-left: 2px;
  font-weight: 500;
  margin-top: 5px;
}

#phoneIcon {
  height: 24px;
  width: 24px;
  /* border: 2px solid black; */
  color: #1a1a1a;
  font-size: 20px;
  position: absolute;
  left: 780px;
  top: 13px;
  margin-top: 10px;
}

#Hotline {
  height: 15px;
  width: 60px;
  /* border: 2px solid black; */
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e47f3a;
  font-weight: 800;
  position: absolute;
  top: 0px;
  left: 815px;
  letter-spacing: 0.5px;
  margin-top: 1px;
}

#phoneNumber {
  height: 32px;
  width: 138px;
  /* border: 2px solid black; */
  color: #192459;
  font-size: 14px;
  line-height: 15px;
  padding-left: 2px;
  position: absolute;
  top: 14px;
  left: 815px;
  font-weight: bold;
  margin-top: 6px;
  letter-spacing: 0.77px;
}

.socialMediaIcon {
  height: 25px;
  width: 25px;
  /* border: 2px solid black; */
  display: inline-block;
  font-size: 24px;
  margin-left: 2px;
  margin-top: 2px;
  color: #1a1a1a;
}

#socialMedia {
  height: 36px;
  width: 104px;
  /* border: 2px solid black; */
  position: absolute;
  top: 13px;
  left: 1060px;
}

#twitter {
  width: 28px;
}

#instagram {
  width: 26px;
}

div#instagram > a {
  color: #1a1a1a;
}

div#facebook > a {
  color: #1a1a1a;
}

div#twitter > a {
  color: #1a1a1a;
}

#navBar {
  width: 100%;
  height: 48px;
  /* border: 2px solid black; */
  position: absolute;
  top: 98px;
  background-color: rgba(255, 255, 255, 0.32);
}

.navMenu {
  display: inline-block;
  height: 33px;
  width: 49px;
  font-size: 16px;
  /* border: 2px solid black; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #192459;
  margin-left: 40px;
  margin-top: 14px;
  font-weight: 550;
}

#newModels {
  height: 20px;
  width: 111px;
}

#services {
  height: 20px;
  width: 80px;
}

#aboutUs {
  height: 20px;
  width: 84px;
}

#contact {
  height: 20px;
  width: 77px;
}

#home {
  border-bottom: 3px solid #e47f3a;
}

#nav {
  height: 46px;
  width: 780px;
  /* border: 2px solid red; */
  position: absolute;
  left: 100px;
}

ul li.navMenu a {
  text-decoration: none;
  color: #192459;
}

#contactSeller {
  height: 25px;
  width: 167px;
  border: 1px solid #fdb913;
  background-color: #fdb913;
  color: #192459;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding-top: 6.5px;
  border-radius: 5px;
  font-weight: 550;
  margin-top: 7px;
  position: absolute;
  left: 885px;
  padding-bottom: 2.5px;
}

div#contactSeller > a {
  text-decoration: none;
  color: #192459;
}

#compare {
  height: 20px;
  width: 60px;
  /* border: 1px solid black; */
  color: #192459;
  font-size: 14px;
  position: absolute;
  top: 15px;
  left: 1160px;
  font-weight: 550;
}

div#compare > a {
  text-decoration: none;
  color: #192459;
}

#compareIcon {
  height: 28px;
  width: 33.5px;
  /* border: 2px solid black; */
  font-size: 27px;
  margin-top: 5px;
  position: absolute;
  left: 1223px;
  color: #000000;
}

#cart {
  height: 20px;
  width: 30px;
  /* border: 1px solid black; */
  color: #192459;
  font-size: 14px;
  position: absolute;
  top: 15px;
  left: 1283px;
  font-weight: 550;
}

div#cart > a {
  text-decoration: none;
  color: #192459;
}

#cartIcon {
  height: 26px;
  width: 28px;
  /* border: 2px solid black; */
  font-size: 25px;
  margin-top: 9px;
  position: absolute;
  left: 1310px;
  color: #000000;
}

#cartNumber {
  height: 20px;
  width: 20px;
  border: 1px solid #e47f3a;
  color: #ffffff;
  background-color: #e47f3a;
  border-radius: 50%;
  text-align: center;
  padding-top: 2px;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 550;
  position: absolute;
  left: 1341px;
  top: 2.5px;
}

div#heroCar {
  height: 361px;
  width: 658px;
  /* border: 2px solid black; */
  position: absolute;
  top: 328px;
  left: 150px;
}

#outerMercedes {
  height: 500px;
  width: 500px;
  /* border: 2px solid black; */
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.32);
  position: absolute;
  top: 191px;
  left: 850px;
}

#inerMercedes {
  height: 450px;
  width: 450px;
  /* border: 2px solid black; */
  margin: 25px;
  border-radius: 50%;
  background-color: #e47f3a;
}

#year {
  font-size: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #192459;
  letter-spacing: 1.5px;
  position: absolute;
  top: 90px;
  left: 110px;
}

#carModelName {
  font-size: 33px;
  font-weight: bold;
  color: #ffffff;
  font-family: arial;
  letter-spacing: 1.5px;
  position: absolute;
  top: 122px;
  left: 110px;
}

#advancePay {
  font-size: 16px;
  font-weight: 550;
  color: #192459;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  top: 169px;
  left: 110px;
}

#rent {
  font-size: 72px;
  font-weight: bold;
  color: #ffffff;
  font-family: arial;
  position: absolute;
  top: 190px;
  left: 108px;
}

#month {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  top: 205.5px;
  left: 300px;
}

#months {
  font-size: 14px;
  font-weight: 550;
  color: #192459;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  top: 241px;
  left: 300px;
}

#promotion {
  font-size: 14px;
  font-weight: 550;
  font-style: italic;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  top: 280px;
  left: 110px;
}

#contactNow {
  height: 42px;
  width: 146px;
  background-color: #fdb913;
  border: 2px solid #fdb913;
  margin: 1.5px;
  text-align: center;
  position: absolute;
  border-radius: 5px;
}

#contactNowOuter {
  height: 48.5px;
  width: 152px;
  background-color: #97450f75;
  border: 0.5px solid #97450f14;
  border-radius: 7px;
  position: absolute;
  left: 178px;
  top: 360px;
}

div#contactNow > a {
  text-decoration: none;
  color: #192459;
  font-weight: 550;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  position: absolute;
  top: 10px;
  left: 15px;
}

#inerRectangle1 {
  height: 220px;
  width: 1168px;
  /* border: 2px solid black; */
  position: absolute;
  top: 740px;
  left: 177.5px;
  background-color: #eeeeee;
  border-radius: 10px;
  /* box-shadow: 0px 2px 10px black; */
  border-bottom: 7.5px solid #79797948;
}

#manYear {
  height: 45px;
  width: 200px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  color: #1a1a1a;
  font-weight: 550;
  font-size: 16px;
  border-radius: 5px;
  position: absolute;
  top: 50px;
  left: 25px;
}

#yOM {
  font-size: 14px;
  /* border: 1px solid black; */
  color: #797979;
  margin-bottom: 10px;
  position: absolute;
  top: 20px;
  left: 25px;
}

#M {
  font-size: 14px;
  /* border: 1px solid black; */
  color: #797979;
  margin-bottom: 10px;
  position: absolute;
  top: 122px;
  left: 25px;
}

#Km {
  height: 45px;
  width: 200px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  color: #1a1a1a;
  font-weight: 550;
  font-size: 16px;
  border-radius: 5px;
  position: absolute;
  top: 150px;
  left: 25px;
}

#SM {
  font-size: 14px;
  /* border: 1px solid black; */
  color: #797979;
  margin-bottom: 10px;
  position: absolute;
  top: 20px;
  left: 270px;
}

#make {
  height: 45px;
  width: 200px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  color: #1a1a1a;
  font-weight: 550;
  font-size: 16px;
  border-radius: 5px;
  position: absolute;
  top: 50px;
  left: 270px;
}

#SE {
  font-size: 14px;
  /* border: 1px solid black; */
  color: #797979;
  margin-bottom: 10px;
  position: absolute;
  top: 122px;
  left: 270px;
}

#engine {
  height: 45px;
  width: 200px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  color: #1a1a1a;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 550;
  position: absolute;
  top: 150px;
  left: 270px;
}

#SMo {
  font-size: 14px;
  /* border: 1px solid black; */
  color: #797979;
  margin-bottom: 10px;
  position: absolute;
  top: 20px;
  left: 520px;
}

#carModel {
  height: 45px;
  width: 200px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  color: #1a1a1a;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 550;
  position: absolute;
  top: 50px;
  left: 520px;
}

#CS {
  font-size: 14px;
  /* border: 1px solid black; */
  color: #797979;
  margin-bottom: 10px;
  position: absolute;
  top: 122px;
  left: 520px;
}

#status {
  height: 45px;
  width: 200px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  color: #1a1a1a;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 550;
  position: absolute;
  top: 150px;
  left: 520px;
}

#priceSelection {
  height: 220px;
  width: 423px;
  /* border: 1px solid #f5f5f5; */
  position: absolute;
  top: 0px;
  left: 745px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 5px;
  background-color: #f5f5f5;
}

#pricingUSD {
  height: 20px;
  width: 112px;
  /* border: 1px solid black; */
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 550;
  position: absolute;
  top: 20px;
  left: 17px;
}

#minPrice {
  font-size: 14px;
  /* border: 1px solid black; */
  color: #797979;
  position: absolute;
  top: 65px;
  left: 17px;
}

#from {
  height: 45px;
  width: 180px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #1a1a1a;
  font-size: 16px;
  border-radius: 5px;
  position: absolute;
  left: 17px;
  top: 90px;
  font-weight: 550;
}

#maxPrice {
  font-size: 14px;
  /* border: 1px solid black; */
  color: #797979;
  position: absolute;
  top: 65px;
  left: 222px;
}

#to {
  height: 45px;
  width: 180px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #1a1a1a;
  font-size: 16px;
  border-radius: 5px;
  position: absolute;
  left: 222px;
  top: 90px;
  font-weight: 550;
}

#searchCar {
  height: 44px;
  width: 179px;
  border: 1px solid #fdb913;
  background-color: #fdb913;
  color: #192459;
  font-size: 16px;
  font-weight: 550;
  border-radius: 5px;
  position: absolute;
  top: 160px;
  left: 120px;
}

#NewCarModel {
  height: 35px;
  width: 173px;
  /* border: 2px solid #e47f3a; */
  color: #192459;
  font-size: 24px;
  font-weight: 550;
  position: absolute;
  top: 1010px;
  left: 177.5px;
  border-bottom: 3px solid #e47f3a;
}

#NewModels {
  height: 20px;
  width: 120px;
  font-size: 16px;
  font-weight: 550;
  color: #192459;
  /* border: 2px solid black; */
  position: absolute;
  top: 1010px;
  left: 1008px;
}

#NewMake {
  height: 20px;
  width: 122px;
  font-size: 16px;
  font-weight: 550;
  color: #797979;
  /* border: 2px solid black; */
  position: absolute;
  top: 1010px;
  left: 1128px;
  border-right: 2px solid #dddddd;
  border-left: 2px solid #dddddd;
  text-align: center;
}

#OldCars {
  height: 20px;
  width: 100px;
  font-size: 16px;
  font-weight: 550;
  color: #797979;
  /* border: 2px solid black; */
  position: absolute;
  top: 1010px;
  left: 1242px;
  text-align: right;
}

#allCars {
  height: 602px;
  width: 1170px;
  /* border: 1px solid black; */
  position: absolute;
  left: 176px;
  top: 1075px;
}

.allCarModel {
  height: 286px;
  width: 270px;
  /* border: 1px solid black; */
  display: inline-block;
}

#mercedes {
  position: absolute;
  top: 0px;
  left: 0px;
}

#tesla {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

#hyundai {
  position: absolute;
  top: 0px;
  right: 0px;
}

#lexus {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#acura {
  position: absolute;
  bottom: 0px;
  left: 300px;
}
#bmw {
  position: absolute;
  bottom: 0px;
  right: 300px;
}

#chevrolet {
  position: absolute;
  top: 0px;
  right: 300px;
}

#nissan {
  position: absolute;
  top: 0px;
  left: 300px;
}

#mercedesCClass {
  height: 180px;
  width: 270px;
  border-radius: 5px;
}

#nissanAltima {
  border-radius: 5px;
}

#chevroletTrailblazer {
  border-radius: 5px;
}

#hyundaiTucson {
  border-radius: 5px;
}

#teslaRoadster {
  border-radius: 5px;
}

#acuraILX {
  border-radius: 5px;
}

#bmwM440i {
  border-radius: 5px;
}

#lexusRX-350 {
  border-radius: 5px;
}

.carModelNameAndYear {
  height: 16px;
  width: 270px;
  font-size: 14px;
  font-weight: 550;
  color: #1a1a1a;
  /* border: 2px solid black; */
  position: absolute;
  top: 188px;
}
.mrp {
  height: 15px;
  width: 47px;
  font-size: 12px;
  color: #999999;
  text-decoration: #999999 solid line-through;
  position: absolute;
  top: 212px;
}

.MRP {
  width: 63px;
  height: 18px;
  color: #1a1a1a;
  position: absolute;
  left: 55px;
  font-size: 14px;
  font-weight: 550;
  top: 212px;
}

#MRP1 {
  position: absolute;
  left: 0px;
}

#MRP2 {
  position: absolute;
  left: 0px;
}

#MRP3 {
  position: absolute;
  left: 0px;
}

#MRP4 {
  position: absolute;
  left: 0px;
}

.rating {
  width: 90px;
  height: 16px;
  /* border: 1px solid black; */
  color: #fdb913;
  font-size: 12px;
  position: absolute;
  top: 235px;
}

.recommends {
  height: 15px;
  width: 102px;
  /* border: 1px solid black; */
  color: #797979;
  font-size: 12px;
  position: absolute;
  top: 235px;
  left: 95px;
  font-weight: 500;
}

.subsidy {
  width: 71px;
  height: 12px;
  /* border: 1px solid black; */
  font-size: 12px;
  color: #797979;
  font-weight: 500;
  position: absolute;
  top: 268px;
}

.BOA {
  height: 22px;
  width: 110px;
  /* border: 1px solid black; */
  position: absolute;
  top: 262px;
  left: 85px;
}

#viewAllCar {
  height: 44px;
  width: 195px;
  border: 1px solid #fdb913;
  background-color: #fdb913;
  border-radius: 5px;
  font-weight: 550;
  font-size: 16px;
  position: absolute;
  left: 662px;
  top: 1725px;
}

#VAC {
  text-decoration: none;
  color: #192459;
  position: absolute;
  top: 12.5px;
  left: 51px;
  text-align: center;
}

#aritra {
  position: absolute;
  top: 2000px;
}
