* {
  text-align: center;
}

#mainTopic {
  color: blue;
}

h1,
h3,
h5 {
  font-family: Georgia;
}

.para {
  color: white;
  background-color: cornflowerblue;
}

div button {
  background-color: purple;
  color: azure;
}

div button:hover {
  background-color: yellow;
  color: blue;
}

p:nth-of-type(odd) {
  color: yellow;
}

h1#mainTopic::first-letter {
  color: red;
}

div input[type="checkbox"]:checked + label {
  color: darkgreen;
}
